@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600");
$gap: 10px;
$board-bg-color: #0079bf;
$app-main-text-color: #333;
$navbar-app-height:5vh;
$navbar-board-height:6vh;
$column-border-radius: 4px;
$board-content-height:88vh;
$column-bg-color: #ebecf0;
$comon-elenment-bg: rgba(255, 255, 255, 0.24);
$alest-danger : #ee5253;
// Screen
$screen-lg:1201px;
$screen-md:992px;
$screen-sm:768px;
$screen-phone:480px;
$screen-ip6-down:'(max-width:375px)';




